<div class="container">
  <div class="row pt-4">
    <div class="col-11">
      <h1 *ngIf="!componentExists">Create widget</h1>
      <h1 *ngIf="componentExists">Edit widget</h1>
    </div>
    <div class="col-1">
      <label for="enableDeveloperOptions">Developer</label>
      <input type="checkbox" name="enableDeveloperOptions" (change)="enableDeveloper()" />
    </div>
  </div>
  <hr />
  <div class="row theme-color-7 p-4 border-radius">
    <div class="col-8">
      <form #widget$EditForm="ngForm" name="form" (ngSubmit)="onSubmit()">
        <h3>General information</h3>
        <hr>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" #title="ngModel" class="form-control" [(ngModel)]="widget.title" />
        </div>
        <div class="mb-3">
          <label for="icon" class="form-label">Icon (FontAwesome Class)</label>
          <input type="text" name="icon" #icon="ngModel" class="form-control" [(ngModel)]="widget.icon" />
        </div>
        <h3>Graphs</h3>
        <hr />
        <div *ngFor="let graph of widget.graphs; let i = index">
          <div class="mb-3">
            <label for="queries" class="form-label">Query Builder</label>
            <textarea type="text" name="widget.graphs[{{i}}].query" #query="ngModel" class="form-control"
              [(ngModel)]="widget.graphs[i].query"></textarea>
          </div>

          <div class="mb-3">
            <label for="interval" class="form-label">Interval (in seconds)</label>
            <input type="number" min=5 class="form-control form-control" [(ngModel)]="widget.graphs[i].interval"
              name="widgt.graphs[{{i}}]" #interval="ngModel">
          </div>

          <div class="mb-3">
            <label for="chartType" class="form-label">Type</label>
            <select [(ngModel)]="widget.graphs[i].type" name="widget.graphs[{{i}}].type" #Type="ngModel" class="form-control">
              <option value="bar">Bar Chart</option>
              <option value="line">Line Chart</option>
              <option value="doughnut">Doughtnut Chart</option>
              <option value="pie">Pie Chart</option>
              <option value="SingleStat">Single Stat</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="color" class="form-label">Color</label>
            <input type="color" class="form-control form-control-color" value="#563d7c" [(ngModel)]="widget.graphs[i].color"
              name="widget.graphs[{{i}}].color" #Color="ngModel">
          </div>
          <hr>
        </div>
        <div class="col-12">
          <p style="color:red">{{this.lastError}}</p>
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-secondary float-end" (click)="addQueryToForm()">Add
            Query</button>
          <button type="button" class="btn btn-danger float-end" (click)="deleteQueryFromForm()">Delete
            Query</button>
        </div>
        <div class="col-12">
          <button type="submit" class="btn theme-color-3 text-white" [disabled]="!widget$EditForm.valid">
            Save
          </button>
        </div>
      </form>
    </div>
    <div class="col-4">
      <div *ngIf="!developerEnabled">
        <img src="assets/images/stekker.png" alt="stekker" />
      </div>
      <div *ngIf="developerEnabled">
        <pre>{{ widget | json }}
        </pre>
      </div>
    </div>
  </div>
</div>
