<div class="container">
  <div class="row pt-4">
    <div class="col-12">
      <h1>Settings</h1>
    </div>
  </div>
  <div class="row theme-color-7 p-4 border-radius">
    <div class="col-12">
      <h3>Widgets Configuration</h3>
      <a class="btn theme-color-3 text-white" routerLink="create">Create Widget</a>
      <a class="btn theme-color-2 text-white ms-1" routerLink="weather">Weather-settings</a>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Amount of Graphs</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let widget of this.widgets">
            <td>{{ widget.id }}</td>
            <td>{{ widget.title }}</td>
            <td>{{ widget.graphs.length }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-sm btn-secondary" routerLink="edit/{{ widget.id }}">Edit</button>
                <button type="button" class="btn btn-sm btn-danger" routerLink="delete/{{ widget.id }}">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <hr />
    </div>
  </div>
</div>