<!-- Navbar -->
<nav class="navbar navbar-light bg-light shadow-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../../assets/SmartEnergyLogo.png" alt="...">
        </a>
        <a class="navbar-logo">
            <img src="../../../assets/AvansLogo.jpg" alt="...">
        </a>
        <div class="d-flex">
            <a class="text-reset" routerLink="/settings">
                <fa-icon [icon]="faGear"></fa-icon>
            </a>
        </div>
    </div>
</nav>